@use '../../index.scss' as v;

.card {
  background: black;
  color: white;
}

.poster-img:hover,
.card-body:hover {
  opacity: 85%;
}

.app-container {
  background-color: v.$primary-color;
}

.poster-wrapper {
  position: relative;
}

.card-body {
  padding: 0;
}

.card-img-top {
  width: 100%;
  height: 350px;
}

.fav-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.mcard {
  margin-bottom: 5px;
}

.mov-button {
  width: 100%;
}

.fav-icon {
  height: 30px;
  width: 30px;
}
