.search-wrapper h3,
p {
  color: white;
}

.show-bar {
  width: 40%;
}

.dbsearch-button,
.db-back-button {
  width: 25%;
}

.show-header h3 {
  padding-left: 15px;
  
}

.search-results {
  margin-top: 10px;
}
